---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
const {title = 'Isaac'} = Astro.props
---

<header>
	<a href='/'>
	    <h2>
		    {title}
	    </h2>
	</a>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em auto 2em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@media screen and (min-width: 800px) {
        header {
            max-width: 65vw;
        }
      }
	h2 {
		margin: 0.5em 0;
	}
</style>
